.form {
  display: grid;
  gap: 10px;
  padding: 30px 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.inputWrapper:last-of-type {
  margin-bottom: 18px;
}

.input {
  padding: 5px 10px;
  border-radius: 7px;
  border: 1px solid black;
  max-width: 250px;
  outline: none;
}

.btn {
  padding: 5px 10px;
  max-width: 135px;
  border: 1px solid black;
  border-radius: 9px;
  outline: none;
  background-color: lightblue;
}
